$color_1: white;
$color_2: #010712;
$color_3: #FCFDFD;
$font-family_1: "Jost", sans-serif;
$background-color_1: rgb(82 83 83);
$background-color_2: #3B3636;

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font-family_1;
}
#block-bookshop-content {
	padding: 0 5rem;
	.top {
		padding: 0 0 3rem 0;
	}
	.right {
		padding: 0 2rem;
		.wrapper {
			display: flex;
		}
		.name {
			font-weight: bold;
			font-size: 2rem;
			font-weight: bold;
			font-size: 2rem;
		}
		.by {
			padding-left: 0.5rem;
		}
		.by_label {
			font-weight: bold;
		}
	}
	.left {
		max-width: 50%;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.views-exposed-form {
		width: 100%;
		display: flex;
		select {
			color: $color_2;
			font-weight: 500;
			background: var(--bg-color);
			border: none;
			border-bottom: 1px solid var(--secondary-color);
			padding: 0.5rem 0.5rem;
			margin-bottom: 0.5rem;
			outline: none;
		}
	}
}
.rating {
	padding-left: 0.5rem;
}
.rating_label {
	font-weight: bold;
}
.views-element-container {
	.all-books {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.all-books {
	.card {
		min-height: 27rem;
		max-height: 27rem;
		margin: 0 0.5rem;
		.book {
			img {
				width: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				height: 18rem;
			}
		}
		.links {
			li {
				list-style-type: none;
				text-align: left;
				a {
					display: block;
					padding: 0.5rem;
					width: 50%;
					background-color: $background-color_1;
					text-decoration: none;
					color: $color_1;
					font-size: 1rem;
					border-radius: 0.5rem;
				}
			}
		}
	}
	.pager {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0.5rem 0;
		ul {
			display: flex;
			list-style-type: none;
			li {
				margin: 0.5rem;
				display: inline-block;
				background-color: $background-color_2;
				a {
					color: $color_1;
					padding: 1rem 0.5rem;
					text-decoration: none;
				}
			}
			.pager__item--ellipsis {
				background: transparent;
			}
		}
	}
}
.views-exposed-form {
	input[type=submit] {
		text-transform: uppercase;
		font-weight: 300;
		background: var(--button-color);
		color: $color_3;
		margin: 0 20%;
		height: 2.25rem;
		border-radius: 2px;
		outline: none;
		cursor: pointer;
	}
	label {
		text-transform: uppercase;
		font-weight: 700;
	}
}
.homepage-grid-container {
	display: grid;
	grid-template-areas: "featured popular" "books books" "filtered filtered";
	grid-template-columns: 50% 50%;
	.feature {
		grid-area: featured;
		background: var(--bg-gray);
	}
	.popular {
		grid-area: popular;
		background: var(--bg-gray);
	}
	.books {
		grid-area: books;
	}
	.filtered_books {
		grid-area: filtered;
	}
}
.text_image_paragraph {
	justify-content: center;
	align-items: center;
	.image {
		box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
	}
	.text {
		border-left: 5px solid var(--secondary-color);
		margin-left: 0.5rem;
		background: #eaeaea;
		align-self: stretch;
		display: flex;
		align-items: center;
		p {
			padding-left: 2rem;
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
	}
}
.contact-form {
	width: 100%;
	textarea {
		width: 100%;
		color: $color_2;
		font-weight: 500;
		background: var(--bg-color);
		border: none;
		border-bottom: 1px solid var(--secondary-color);
		padding: 0.2rem 0.5rem;
		margin-bottom: 0.5rem;
		outline: none;
		&::-moz-placeholder {
			color: $color_2;
		}
		&::placeholder {
			color: $color_2;
		}
	}
	form {
		>div {
			display: flex;
			flex-direction: column;
		}
	}
	.fieldset-wrapper {
		>div {
			display: flex;
			flex-direction: column;
		}
	}
	h1 {
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.1rem;
	}
	label {
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.1rem;
	}
	button {
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.1rem;
	}
	input {
		&::-moz-placeholder {
			color: $color_2;
		}
		&::placeholder {
			color: $color_2;
		}
		color: $color_2;
		font-weight: 500;
		background: var(--bg-color);
		border: none;
		border-bottom: 1px solid var(--secondary-color);
		padding: 0.2rem 0.5rem;
		margin-bottom: 0.5rem;
		outline: none;
	}
	input[type=submit] {
		text-transform: uppercase;
		font-weight: 300;
		background: var(--button-color);
		color: $color_3;
		margin: 0 20%;
		height: 2.25rem;
		border-radius: 2px;
		outline: none;
		cursor: pointer;
	}
}
.classic-para-item {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	input[type=submit] {
		border: 2px solid white;
		background: transparent;
		&:hover {
			border: 2px solid rgb(189, 87, 87);
		}
	}
}
.about-us-para {
	ul {
		li {
			letter-spacing: 0.2rem;
			font-family: $font-family_1;
		}
	}
}
.profile_image {
	>div {
		display: flex;
		justify-content: center;
	}
	img {
		width: 56%;
		height: auto;
		padding: 0.5rem;
		box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
	}
}
.profile_details {
	h2 {
		text-transform: capitalize;
		background: var(--primary-color);
		display: block;
		color: $color_3;
		padding: 1rem 0 1rem 2rem;
	}
	.bio {
		p {
			font-size: 1rem;
			letter-spacing: 0.1rem;
			line-height: 2rem;
		}
	}
	.count {
		font-size: 1rem;
		margin: 0 0 5px 8px;
	}
}
.all-authors {
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
	justify-content: center;
	.views-row {
		max-width: 19rem;
		margin: 0.5rem;
		border: 2px solid #efefef;
		padding: 0.5rem;
		border-radius: 0.5rem;
		img {
			height: 20rem;
			max-width: 18rem;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}
.navbar-nav {
	.nav-item {
		#navbarNavDropdown {
			position: absolute;
			opacity: 0;
			z-index: 1;
		}
		&:hover {
			>#navbarNavDropdown {
				opacity: 1;
				background: var(--bg-color);
			}
		}
	}
}
.cart{
  .dropdown-menu[data-bs-popper]{
    right: 0;
		left:auto;
		.wrapper{
			display: flex;
			& > div{
				padding: 1rem;
			}
			.image img{
				width: 3rem;
				height: auto;
			}
			.button{
				margin:.8rem;
			}
		}
  }
} 
