<div class="w-100 d-flex justify-content-center">
  <div class="card thanks text-center m-5">
    <img src="{{module_path}}/templates/img/order_confirmed.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title text-center">Thanks for ordering</h2>
      <a href="/" class="btn btn-dark text-center">Back to shopping</a>
    </div>
  </div>
</div>