<div class="header">
  <div class="featured">
    {% include '@bookshop/header.html.twig' %}
  </div>
  <div class="featured">
    most popular
  </div>
</div>
<div class="books">
  all the books
</div>

<pre>
  {{ dump(page.body) }}
</pre>