/* color variables */
:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  --bg-color: #FCFDFD;
  --button-color: #3B3636;
  --h1-color: #3F444C;
  --bg-gray: #767b8d;
  --button-color-dark: rgb(82 83 83);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

/* details books page style */
#block-bookshop-content {
  padding: 0 5rem;
}

#block-bookshop-content .top {
  padding: 0 0 3rem 0;
}

#block-bookshop-content .right {
  padding: 0 2rem;
}

#block-bookshop-content .left {
  max-width: 50%;
}

#block-bookshop-content .left img {
  max-width: 100%;
  height: auto;
}

#block-bookshop-content .right .wrapper {
  display: flex;
}

#block-bookshop-content .right .name {
  font-weight: bold;
  font-size: 2rem;
}

#block-bookshop-content .right .name {
  font-weight: bold;
  font-size: 2rem;
}

#block-bookshop-content .right .by,
.rating {
  padding-left: .5rem;
}

#block-bookshop-content .right .by_label,
.rating_label {
  font-weight: bold;
}

/* view styling for show boos as a card */
.views-element-container .all-books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.all-books .card {
  min-height: 27rem;
  max-height: 27rem;
  margin: 0 .5rem;
}

.all-books .card .book img {
  width: 100%;
  object-fit: cover;
  height: 18rem;
}

.all-books .card .links li {
  list-style-type: none;
  text-align: left;
}

.all-books .card .links li a {
  display: block;
  padding: .5rem;
  width: 50%;
  background-color: var(--button-color-dark);
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-radius: .5rem;
}

/* all books pager */
.all-books .pager {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: .5rem 0;
}

.all-books .pager ul {
  display: flex;
  list-style-type: none;
}

.all-books .pager ul li {
  margin: .5rem;
  display: inline-block;
  background-color: var(--button-color);
}

.all-books .pager ul li a {
  color: white;
  padding: 1rem .5rem;
  text-decoration: none;
}

.all-books .pager ul .pager__item--ellipsis {
  background: transparent;
}

/* exposed filter styling */
#block-bookshop-content .views-exposed-form {
  width: 100%;
  display: flex;
}

#block-bookshop-content .views-exposed-form select {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem .5rem;
  margin-bottom: .5rem;
  outline: none;
}

.views-exposed-form input[type='submit'] {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  margin: 0 20%;
  height: 2.25rem;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.views-exposed-form label {
  text-transform: uppercase;
  font-weight: 700;
}

/* home page css grid layout */
.homepage-grid-container {
  display: grid;
  grid-template-areas:
    'featured popular'
    'books books'
    'filtered filtered'
  ;
  grid-template-columns: 50% 50%;
}

.homepage-grid-container .feature {
  grid-area: featured;
  background: var(--bg-gray);
}

.homepage-grid-container .popular {
  grid-area: popular;
  background: var(--bg-gray);
}

.homepage-grid-container .books {
  grid-area: books;
}

.homepage-grid-container .filtered_books {
  grid-area: filtered;
}

/* text with image paragraph */
.text_image_paragraph {
  justify-content: center;
  align-items: center;
}

.text_image_paragraph .image {
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.text_image_paragraph .text {
  border-left: 5px solid var(--secondary-color);
  margin-left: .5rem;
  background: #eaeaea;
  align-self: stretch;
  display: flex;
  align-items: center;

}

.text_image_paragraph .text p {
  padding-left: 2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

/* Contact form styles */
.contact-form,
.contact-form textarea {
  width: 100%;
}

.contact-form form>div {
  display: flex;
  flex-direction: column;
}

.contact-form .fieldset-wrapper>div {
  display: flex;
  flex-direction: column;
}

.contact-form h1,
.contact-form label,
.contact-form button {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.2rem .5rem;
  margin-bottom: .5rem;
  outline: none;
}

.contact-form input[type='submit'] {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: var(--bg-color);
  margin: 0 20%;
  height: 2.25rem;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.classic-para-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.classic-para-item input[type='submit'] {
  border: 2px solid white;
  background: transparent;
}

.classic-para-item input[type='submit']:hover {
  border: 2px solid rgb(189, 87, 87);
}

.about-us-para ul li {
  letter-spacing: .2rem;
  font-family: 'Jost', sans-serif;
  ;
}

/* author profile */
/* .profile_image img{
  width: 80%;
  height: auto;
  padding: .5rem;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
} */
.profile_image > div {
  display: flex;
  justify-content: center;
}
.profile_image img {
  max-width: 80%;
  height: auto;
  padding: .5rem;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.profile_details h2 {
  text-transform: capitalize;
  background: var(--primary-color);
  display: block;
  color: var(--bg-color);
  padding: 1rem 0 1rem 2rem;
}

.profile_details .bio p {
  font-size: 1rem;
  letter-spacing: .1rem;
  line-height: 2rem;
}

.profile_details .count {
  font-size: 1rem;
  margin: 0 0 5px 8px;
}

/* authors view styles */

.all-authors {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
}

.all-authors .views-row {
  max-width: 19rem;
  margin: 0.5rem;
  border: 2px solid #efefef;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.all-authors .views-row img {
  height: 20rem;
  max-width: 18rem;
  object-fit: cover;
}